<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacMedia Blog post</title>
    <link rel="stylesheet" href="/styles/layout.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IE+Guides&family=Playwrite+IN:wght@100..400&family=Playwrite+VN:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap" rel="stylesheet">
</head>
<nav class="navbar">
  <div class="navbar-header">
      <span class="header"><a href="/"></a>MacMedia Blog</span>
  </div>
  <ul id="container" class="navbar-menu">
      <li class="title-1"><a href="/">Home</a></li>
      <li class="title-1"><a href="/new" id="createPostBtn">New Post</a></li>
  </ul>
  <button class="navbar-toggler" id="navbarToggler">
    ☰
</button>
</nav>
  </header>
</html>